.banner{
    background-image: url("/assets/images/elephants.jpeg");
    // background-repeat: no-repeat;
    background-size: cover;
    position: relative; 

    height: 400px;
}

.banner-mobile{
    background-image: url("/assets/images/elephants-mobile.jpg");
    background-size: cover;
    position: relative; 
    height: 300px;
   // padding-top: 25%;
}
.banner-mobile div{

    height: 50%;
    width: 50%;
    margin: 0 auto;
    background-color: white;
    border-radius: 95%;
    padding: 25%;
    position: relative;
}