.banner{
    background-image: url("/assets/images/elephants.jpeg");
    // background-repeat: no-repeat;
    background-size: cover;
    position: relative; 

    height: 400px;
}

.banner-mobile{
    background-image: url("/assets/images/elephants-mobile.jpg");
    background-size: cover;
    position: relative; 
    height: 300px;
}