

<section class="package" *ngIf= "package" >
  <div class="card">
    <div class="card-header">
    <p class="card-header-title">{{package.title}}</p>
    </div>
    <div class="card-content" *ngIf="package.desc">
      <p>{{package.desc}}</p>

    </div>
    <footer class="card-footer">
       <!-- <app-add-image></app-add-image> -->
        <button class="button" href="#" (click)="addImage()">Add Image</button>
        <button href="#" class="button"(click)="addDays(package._id)">Add Days</button>
        <a href="#" class="button is-danger">Delete</a>
      </footer>
    
  </div>
  

</section>
