
<section class="package" *ngIf= "package" >
  <div class="card">
    <div class="card-header">
    <p class="card-header-title">{{package.title}}</p>
    </div>
    <div class="card-content" *ngIf="package.desc">
      <p>{{package.desc}}</p>

    </div>
    <footer class="card-footer">
      <button class="button is-primary" href="#" (click)="addImage(package._id, 'packages')">Add Image</button>
        <button href="#" class="button is-primary"(click)="addDays(package._id)">Add Days</button>
        <button href="#" class="button is-danger">Delete</button>
      </footer>
    
  </div>
  

</section>
