<div class="top dark-primary-background-color">
  <div class="contacts container">
      <p class="is-small">  <i class="fa fa-phone-square"></i> +254 721 422304</p>
    <p class="is-small"> <i class="fa fa-envelope-square"></i>	info@italsafaris.co.ke</p>
  </div>

</div>
<div class="primary-background-color menu">
<div class="mymenu is-hidden-mobile">
  <a routerLink ="/"><p>Home</p></a>
  <p>|</p>
  <a routerLink="/packages" ><p>Packages</p></a>
  <p>|</p>
  <a routerLink ="/services"><p>Services</p></a>
  <p>|</p>
  <a routerLink="/about-us"><p>About us</p></a>
  <p>|</p>
  <a routerLink ="/contact-us"><p>Contact us</p></a>
</div>
<div class="burger is-hidden-desktop" >
    <div class="navbar-burger" (click)="toggle()">
        <span></span>
        <span></span>
        <span></span>
      </div>
</div>
<div class="dropdown is-hidden-desktop">
    <div *ngIf="shown" class="navbar-dropdown">
        <a class="navbar-item" routerLink ="/">
        Home
        </a>
        <a routerLink="/packages" class="navbar-item" >
            Packages
        </a>
        <a class="navbar-item" routerLink ="/services">
            Services
        </a>
        <a class="navbar-item" routerLink="/about-us">
            About us
        </a>
        <a class="navbar-item" routerLink ="/contact-us">
            Contact us
        </a>
      </div>
</div>
</div>