<div class=" welcome">
<div class="container">
  <div class="main box">

   
    <div class="columns">
      <div class="column is-three-quaters">
          <p class="title">Welcome</p>
          <p>Welcome to Ital Safaris Kenya's leading tours and travel company. Offering diversified ways of 
            delivering their services across East Africa. We provide transport services in Kenya & 
            East Africa as well. We also book hotels for our local and foreign visitors, 
            book recreational places for clients and chauffer driven Taxi Cabs</p>
      
      </div>
      <div class="column circles">
        <div class="circle"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
      </div>
    </div>
    
  </div>
</div>
</div>
<div class="body primary-background-color">
  <div class="container">
    <div class="box">
   <div class="columns">
     <div class="column is-one-third">
       <div class="card">
         <div class="card-title">
           <p>7 day Package</p>
         </div>
         <div class="card-content">
           blah blah blah
         </div>
       </div>
     </div>
   </div>
    </div>
  </div>
</div>

<div class="services dark-primary-background-color">
  <div class="container">
 
  </div>

</div>
