<!-- <div class=" welcome">
<div class="container">
  <div class="main">

   
    <div class="columns">
      <div class="column is-three-quaters box">
          <p class="title">Welcome</p>
          <p>Welcome to Ital Safaris Kenya's leading tours and travel company. Offering diversified ways of 
            delivering their services across East Africa. We provide transport services in Kenya & 
            East Africa as well. We also book hotels for our local and foreign visitors, 
            book recreational places for clients and chauffer driven Taxi Cabs</p>
      
      </div>
      <div class="column is-hidden-mobile">
        <app-side-menu></app-side-menu>
      </div>
  
    </div>
    
  </div>
</div>
</div> -->
<div class="body primary-background-color">
  <div class="">
 <app-packages></app-packages>
  </div>
</div>

<div class="services dark-primary-background-color">
  <div class="container">
 <app-home-services></app-home-services>
  </div>

</div>
