.packages{
    padding-top:10px;
    padding-bottom: 10px; 
    min-height: 400px;
    background-image: url('/assets/images/mara.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.card{
    padding: 4px;
}