<form action="" [formGroup]="myForm">
    <div class="field">
        <label class="label">Title</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" formControlName= "title">
        </div>
      </div>
      

    
  
      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <textarea class="textarea" placeholder="Textarea" formControlName="desc"></textarea>
        </div>
      </div>
      

    
      
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" (click)="onSubmit()">Submit</button>
        </div>
        <div class="control">
          <button class="button is-text"(click)="close()">Cancel</button>
        </div>
      </div>
</form>
