<div class="footer">
  <div class="container">
  <div class="columns">

    <div class="column is-one-quarter">
      <div class="logo">
  <!-- <img src="/assets/images/Africa.jpg" alt="" width="100px"> -->
      </div>
      <!-- <div class="address">
        <p class="is-small">Industrial Commercial Centre, Westlands Nairobi Kenya</p>
      </div> -->
    </div>
    <div class="column is-one-quarter">
    <p class="title is-4"> Contacts </p>
    <p>Email : info@africomtours.com</p>
    <p>Add. :P.O Box 311 - 00600 Nairobi, Kenya</p>
    <p>Phone : +254 720 685 390</p>
  </div>
  <div class="column social is-one-quarter">
    <a href=""><i class="fa fa-twitter"></i></a>
    <a href=""><i class="fa fa-facebook"></i></a>
    <a href=""><i class="fa fa-pinterest-p"></i></a>
    <a href=""><i class="fa fa-rss"></i></a>



  </div>
  </div> 
  </div>
</div>
