.footer{
    background-color: black;
    color: gainsboro;
}

.logo{
    background-color: white;
    background-image: url('/assets/images/Africa-logo.png');
    height:180px;
    width: 180px;
    background-repeat: no-repeat;
    border-radius: 75%;
}
.social i{
    color: #f5f5f5;
    margin: 8px;
    font-size: 1.5em;

}