<div class="about">
  <div class="container">
  <div class="columns">
    <div class="column is four-fifth">
     <p class="title is-3">
     About Itals Safaris
     </p> 
     <div class="banner">
     <img src="assets/images/camp.jpeg" alt="">    
    </div>
    <div class="content">
      <p>Itals Safaris is an indigenous Kenyan based tours and Travel Company that
         operates throughout east African countries. The company is managed by a 
         highly experienced and professional staff with over ten years of extensive 
         experience in handling the African Safaris. Our driver guides are Kenya 
         professional safari guide association approved with the Director leading 
         the stage, in addition All our safari guides are English speaking, 
         but on request we can arrange for Spanish French Japanese, Russian, 
         Chinese speaking tour guides With them in the magical wild of Africa you 
         are guaranteed a life time safari and safety. Unlike some safari outfitters, 
         we manage your safari program such that you spend not less than one day in the 
         parks and reserves that have high concentration of wildlife, instead of wasting 
         most of the hours transferring from places and avoiding packing and unpacking every day. 
         This gives you a chance of unlimited game viewing. 
        We also encourage day trips to some of the tourist attractions.</p>

        <p>Our itineraries includes: Air & Balloon Safaris, Adventure Tours, Beach Holidays, Bird Watching, 
          Boating & Canoeing, Budget Holidays, Camel Safaris, Camping Safaris, Conference, Cultural Tours, 
          Cycling, Cruise Safaris, Deluxe Luxury Safaris, Eco-Safaris, Family Holidays, Golf, Groups, Honeymoon,
           Mountain Climbing, Photography, Road Safaris, 
          Scuba Diving & Sailing, Student Holidays, Trekking, Excursions, Wildlife Safaris, Sports Holidays, 
          Rafting</p>

          <p>All our Safari vehicles are all weather with pop up roof for better game viewing and photography. 
            They are all fitted with UHF transmitter radio, complete first aid box and cool box. We have standby 
            rescue team although a puncture or getting stuck in the mad will give you a real African taste. 
            We have ranges of accommodation from safari lodges, hotels, tented 
            camps and camping safaris under the African stars. This gives a comfortable stay for travelers of
             all ages</p>
             <p>
                Itals Safari offer tailor made safaris but we shall help you if you come up with your own itinerary. Our services includes, Kenya safaris, Tanzania safaris, Uganda/ Rwanda gorilla tracking, trekking safaris, Beach holiday, sailing safaris, horse riding, biking safaris, cultural safaris, excursions  eg, city and slums tours tea/ 
                coffee and flower farms visits. For philanthropist and charity, we organize orphanage elderly homes 
                visits.
             </p>
             <p>Itals Safari will make your African safari dream come true. We are flexible in taking 
               inquiries 24/7.</p>

               <p>Vision: To be a leading global organization in offering of travel and tours services in the 21st century.</p>
               <p>Mission: To provide a paradigm shift in the field of tours and travel by adjusting to the customers need through an effective 
                 feedback system that ensures constant client satisfaction.</p>
    </div>
    </div>
  </div>
</div>
</div>
