<div class="packages">
  <div class="container">
    <div class="columns">
      <div class="column is-one-thirds">
  <div class="panel">
    <p class="panel-heading">
      Packages
    </p>
    <div class="panel-block " *ngFor ="let p of packages" >
      <p (click)="details(p)">{{p.title}}</p>
    </div>
   <footer class="card-footer">
        <a class="card-footer-item" (click)="addNew()">Add New</a>
        <a href="#" class="card-footer-item" (click)="deleteAll()">Delete all2</a>
      </footer>
  </div>  
</div>

<div class="column">
    <app-adminpackage-detail (myEvent)="myReload()" [package]="package"></app-adminpackage-detail>
</div>

</div>
  </div>
</div>
