<div class="main">
<div class="intro primary-background-color">
	<span><div class="mytitle">
		<p class="title">Welcome</p>

	</div>
	
	<div class="content">
		<p class="mytext">
			Welcome to Ital Safaris Kenya's leading tours and travel company. Offering diversified ways of 
            delivering their services across East Africa. We provide transport services in Kenya & 
            East Africa as well. We also book hotels for our local and foreign visitors, 
            book recreational places for clients and chauffer driven Taxi Cabs
		</p>
	</div>
	</span>
</div>
</div>