<!-- <div class="services" >
  <div class="container">
  <div class="columns">
    <div class="column is-four-fifth">
      <div *ngFor = "let s of services">
       <div class="card">
        <figure class="image">
            <img [src]="'/uploads/' + s.images[0]?.filename" width="600px">
        </figure>
      </div> 
        <p class="title is-3">{{s.title}}</p>
        <p>{{s.desc}}</p>
         <div *ngFor="let service of s.services">
           <p class="title is-4">{{service.title}}</p>
           <p>{{service.desc}}</p>

         </div>
      </div>

    </div>
  </div>
  </div>
</div> -->

<div class="services">
  <div class="container">
<p class="title is-3"> Services</p>
<div class="card">
  <div class="card-image">
      <figure class="">
          <img src="" alt="">
      </figure>
    </div>
    </div>
    <div class="content">
      <p class="title is-4">Tour</p>
      <p>Africompass tour and travel is a Kenyan based tours and Travel Company that operates throughout east African countries. The company is managed by a highly experienced and professional staff with over ten years of extensive experience in handling the African safaris… This gives you a chance of unlimited game viewing. We also encourage day trips to some of the tourist attractions.
          Our itineraries includes: Air & Balloon Safaris, Adventure Tours, Beach Holidays, Bird Watching, Boating & Canoeing, Budget Holidays, Camel Safaris, Camping Safaris, Conference, Cultural Tours, Cycling, Cruise Safaris, Deluxe Luxury Safaris, Eco-Safaris, Family Holidays, Golf, Groups, Honeymoon, Mountain Climbing, Photography, Road Safaris, Scuba Diving & Sailing, Student Holidays, Trekking, Excursions, Wildlife Safaris, Sports Holidays, Rafting
          All our Safari vehicles are all weather with pop up roof for better game viewing and photography. They are all fitted with UHF transmitter radio, complete first aid box and cool box. We have standby rescue team although a puncture or getting stuck in the mad will give you a real African taste. We have ranges of accommodation from safari lodges, hotels, tented camps and camping safaris under the African stars. This gives a comfortable stay for travelers of all ages.
          we offer tailor made safaris but we shall help you if you come up with your own itinerary. Our services includes, Kenya safaris, Tanzania safaris, Uganda/ Rwanda gorilla tracking, trekking safaris, Beach holiday, sailing safaris, horse riding, biking safaris, cultural safaris, excursions
          
           Africompass Tours is an East Africa’s leading and fastest growing destination management company.
          a tour and travel company with a mark of distinctiveness. we offer the traveller a great safari attraction. it is also a company of great diversity with much more to offer than only splendid wildlife. an outdoor enthusiast has a host of choices for adventure, from the coast beaches and water based activities, to the mountain which present a challenge to hikers and climbers. the rolling savannahs are a game- viewers paradise.
          wildlife game viewing safaris, beach holidays, bird watching safaris, airport transfer, in including Kenya & Tanzania game safaris</p>
    <p class="title is-4">
      Taxi
    </p>
    <p>Welcome to Africompass Tours a tour and travel company with a mark of distinctiveness.

        Providing the taxi service 24 hours a day, every day. Computerized dispatch taxicab service with Global Positioning System ensures prompt response time.ALL passengers ride for the price of ONE (Limited to the number of seatbelts in each vehicle). Cabs are clean, comfortable late model sedans and minivans.All phone calls are recorded to ensure the highest level of customer service.All taxis are equipped with digital cameras for both passenger and driver safety.
        
        Corporate and personal charge accounts provide routine service with convenient, itemized monthly billing.All Yellow Cabs are operated by independent contractor drivers.</p>
      <p class="title is-4"></p> 
      <p>offering car hire services from our base in downtown Nairobi. We provide Four Wheel Drive cars (4×4’s / SUV’s / Jeeps) for self-drive safari use. These can be used to visit Kenya’s famous National Parks and beaches. We also provide saloon (sedan) cars for the city driver.

          providing you with the best car rental services in Kenya. If you’d like to receive a free no-obligation quotation for your car rental in Kenya, please fill the form below. Our very affordable car rental services include: saloon car rental, 4X4 car Rental, Offroad Car Rental, Bus and Van Rental, Station Wagon Rental, Double cabin Rental, Truck rental and more. You can pick and drop off our cars in Nairobi at Jomo Kenyatta International AIrport, Wilson Airport or at any Hotel in Nairobi.</p>
      </div>
  
</div>
</div>
