<div class="service">
	<p class="title is-3">Services</p>
	<div class="columns">
		<div class="column is-one-qouter">
         <div class="service-image">
         	<div class="taxi">
         		<div class="join">
					 <button class="button">Learn more</button>
				 </div>
         	</div>
   
         </div>
         <div>
         	<button class="button mybutton">Taxi Services</button>
         </div>
		 </div>
		 <div class="column is-one-qouter">
         <div class="service-image">
         	<div class="tour"></div>
         </div>
         <div>
			<button class="button mybutton">Tour</button>
         </div>
		 </div>
		 		<div class="column is-one-qouter">
         <div class="service-image">
         	<div class="carhire"></div>
         </div>
         <div>
			<button class="button mybutton">Car Hire</button>
         </div>
		 </div>
		  		<div class="column is-one-qouter">
         <div class="service-image">
         	<div class="cargo"></div>
         </div>
         <div>
			<button class="button mybutton">Cargo Transport</button>
         </div>
		 </div>
	</div>
</div>