.service{
	padding: 8px;
}
.title{
	color: white;
}
.service-image{
	
	border: 4px white solid;
	border-radius: 75%;
	height: 250px;
	width: 250px;
	overflow: hidden;
	text-align: center;
	margin-bottom: 4px;
	
}
.taxi{background-image: url("/assets/images/taxi2.jpg"); height: 250px;width: 250px; }
.tour{background-image: url("/assets/images/tour1.jpg"); height: 250px;width: 250px; background-size: cover}
.carhire{background-image: url("/assets/images/carhire.jpg"); height: 250px;width: 250px;}
.cargo{background-image: url("/assets/images/cargo.jpg"); height: 250px;width: 250px;}

p{
	vertical-align: center;
	text-align: center;
}
.join{
	width: 50px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 45%;
	left: -10%;
	opacity: 0;
}
.mybutton{

	text-align: center;
	position: relative;
	left: 10%;
	margin: 8px;

}
.join:hover{
	opacity: 1;
}