<div class="service">
	<p class="title is-3">Services</p>
	<div class="columns">
		<div class="column is-one-qouter">
         <div class="service-image">
         	<div class="taxi">
         		
         	</div>
   
         </div>
         <div>
         	<p>Taxi Services</p>
         </div>
		 </div>
		 <div class="column is-one-qouter">
         <div class="service-image">
         	<div class="tour"></div>
         </div>
         <div>
         	<p>Tour</p>
         </div>
		 </div>
		 		<div class="column is-one-qouter">
         <div class="service-image">
         	<div class="carhire"></div>
         </div>
         <div>
         	<p>Car Hire</p>
         </div>
		 </div>
		  		<div class="column is-one-qouter">
         <div class="service-image">
         	<div class="cargo"></div>
         </div>
         <div>
         	<p>Cargo Transport</p>
         </div>
		 </div>
	</div>
</div>