<div class="service">
	<div class="columns">
		<div class="column is-two-thirds">
			<p class="title is-3">Services</p>
			<div class="columns">
				<div class="column is-one-qouter">
					<div class="service-image">
						<div class="taxi">
							<div class="join">
								<button routerLink="/packages" class="button">Learn more</button>
							</div>
						</div>

					</div>
					<div>
						<button routerLink="/packages" class="button mybutton">Taxi Services</button>
					</div>
				</div>
				<div class="column is-one-qouter">
					<div class="service-image">
						<div class="tour">
							<div class="join hidden-small">
								<button routerLink="/packages" class="button">Learn more</button>
							</div>
						</div>
					</div>
					<div>
						<button routerLink="/packages" class="button mybutton">Tour</button>
					</div>
				</div>
				<div class="column is-one-qouter">
					<div class="service-image">
						<div class="carhire">
							<div class="join hidden-small">
								<button routerLink="/packages" class="button">Learn more</button>
							</div>

						</div>

					</div>
					<div>
						<button routerLink="/packages" class="button mybutton">Car Hire</button>
					</div>
				</div>
				<div class="column is-one-qouter">
					<div class="service-image">
						<div class="cargo">
							<div class="join hidden-small">
								<button routerLink="/packages" class="button">Learn more</button>
							</div>
						</div>
					</div>
					<div>
						<button routerLink="/packages" class="button mybutton">Cargo Transport</button>
					</div>
				</div>
			</div>
		</div>
		<div class="column">
			
		</div>
	</div>
</div>