<div class="contacts">
  <div class="container">
    <div class="header">
      <p class="title is-3"> contact us</p>

      <div class="columns">
        <div class="column is-half">
          <div class="box">
            <div *ngIf="spinner" class="loader"></div>
            <div  *ngIf ="sent"><p class="title is-success">Message Sent</p>
            <div class="button is-success" (click)="messageSent()">Ok</div>
            </div>
            <form  [hidden]= "!form" action="" [formGroup]="contactForm" (submit)="contactUs()"> 
              <!-- Here: {{contactForm.value|json}} -->
              <div class="field">
                <label class="label">Name</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Text input" formControlName="name">
                </div>
              </div>

              <div class="field">
                <label class="label">Tell:</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" placeholder="+254" formControlName="tel">
                  <span class="icon is-small is-left">
                    <i class="fa fa-user"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fa fa-phone"></i>
                  </span>
                </div>
                <!-- <p class="help is-success">This username is available</p> -->
              </div>

              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="email" placeholder="Email input" formControlName="email">
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fa fa-exclamation-triangle"></i>
                  </span>
                </div>
               
              </div>



              <div class="field">
                <label class="label">Message</label>
                <div class="control">
                  <textarea class="textarea" placeholder="Textarea" formControlName="message"></textarea>
                </div>
              </div>
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link" [disabled]="contactForm.invalid">Submit</button>
                </div>
                <div class="control">
                  <button type="reset" class="button is-text">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>



        
        <div class="column">
          <div class="box">
            <img src="/assets/images/Africa.jpg" alt="" width="100px">
            <p>Email : info@italsafaris.co.ke</p>
            <p>Add. :P.O Box 311 - 00600 Nairobi, Kenya</p>
            <p>Phone : +254 721 422304</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>