<div class="contacts">
  <div class="container">
    <div class="header">
      <p class="title is-3"> contact us</p>

      <div class="columns">
        <div class="column is-half">
          <div class="box">
            <form action="" [formGroup]="contactForm" (submit)="contactUs()"> 
              <!-- Here: {{contactForm.value|json}} -->
              <div class="field">
                <label class="label">Name</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Text input" formControlName="name">
                </div>
              </div>

              <div class="field">
                <label class="label">Tell:</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-success" type="text" placeholder="+254" fromControlName="tel">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <p class="help is-success">This username is available</p>
              </div>

              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-danger" type="email" placeholder="Email input" fromControlName="email">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-exclamation-triangle"></i>
                  </span>
                </div>
                <p class="help is-danger">This email is invalid</p>
              </div>

              <div class="field">
                <label class="label">Subject</label>
                <div class="control">
                  <div class="select">
                    <select formControlName="subject">
                      <option>Select dropdown</option>
                      <option>With options</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="field">
                <label class="label">Message</label>
                <div class="control">
                  <textarea class="textarea" placeholder="Textarea" formControlName="message"></textarea>
                </div>
              </div>
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link">Submit</button>
                </div>
                <div class="control">
                  <button class="button is-text">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>



        
        <div class="column">
          <div class="box">
            <img src="/assets/images/Africa.jpg" alt="" width="100px">
            <p>Email : info@africomtours.com</p>
            <p>Add. :P.O Box 311 - 00600 Nairobi, Kenya</p>
            <p>Phone : +254 720 685 390</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>