<style>
    @import url('https://fonts.googleapis.com/css?family=Raleway');
    </style>
    
    <div class="packages">
    <div class="container">
<div class="colums">
  <div class="column is-three-quarters thepackages">
<p class="title"> <p>Ital safaris has a wide variety of safari packages for your needs.
        Contact us to plan a safari that suits you.<br/>
       Examples of safari packages: </p>
       <div class="columns">
          <div class="column is-half">
              <div class="panel">
                  <p class="panel-heading title">Packages</p>
                  <div *ngIf="!packages" class="loader"></div>
                  <div class="panel-block" *ngFor="let p of packages">
                <div class="box" (click)="setSelected(p)"><p>{{p.title}}</p></div> </div>
                  </div>
          </div>
          <div class="column" *ngIf="selected">
        <div class="card">
            <div class="card-image">
                <figure class="">
                    <img [src]="'/uploads/' + selected.images[0]?.filename">
                </figure>
              </div>
              <div class="card-content">
                <p class="title is-4">{{selected.title}}</p>
              </div>
              <div class="card-footer">
                <button class="button" [routerLink]="['/packagedetail', selected._id]">Read More</button>
              </div>
        </div>
          </div>
        </div>

  </div>
</div>
    </div>
    </div>